@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
font-family: 'DM Sans', sans-serif !important;


}
body{
background-color:#F5F5F5 ;
min-height: 3000px;

}

@media (min-width:1440px) {
  .container{
max-width: 1222px !important;

  }
}
